/* You can add global styles to this file, and also import other style files */
.manropefont{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}